<h1>Home#show_cookie</h1>
<p>Find me in app/views/home/show_cookie.html.erb</p>
<table>
  
  <tr>
      <td>User Name:</td>
      <td><%= @user_name %></td>
  </tr>
  <tr>
    <td>User Number:</td>
    <td><%= @user_number %></td>
  </tr>
<%console%>
</table>
